<div id="header-region"></div>
<div id="main-region" class="container"></div>
<div id="dialog-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
	$(function() {
		Demo.start();		
	});
<% end %>